.title{
   font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  color: white;
  text-align: center;
}
   @media (min-width: 1024px) {
  .title {
    font-size: 3.75rem;
  }
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.description{
     font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  color: white;
  text-align: center;
    
}

.subText{
     font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  text-align: center;
}


.highlight{
    color: #3eaa4d;
      font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  color: white;
  text-align: justify;
    
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
  
}

@media (min-width: 640px) {
  .container {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 2rem;
  }
}

.grid {
  display: grid;
  gap: 3rem;
  align-items: center;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
