.header {
  position: relative;
  top: 0;
  z-index: 50;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.432);
  background: linear-gradient(90deg, #25629b, #080133);
  /* background: linear-gradient(90deg, #ffffffe3, #e2e2e2) */
}

/* container */
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 auto;
}

@media (min-width: 600px) {
  .container {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 2rem;
  }
} 

/* inner flex layout */
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

/* * logo section */
.logoWrapper {
  display: flex;
  align-items: center;
  gap: 0.7rem;

}

.logoImage {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  border-radius: 50%; 
   
}
 
.brandName {
  color:white;
  /* color: rgba(6, 6, 41, 0.979) */;
  font-weight: 650;
  font-size: 1.5rem;
  
} 

/* navigation */
.nav {
  display: none;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    gap: 2rem;
  }
}

.navLink {
  color: white;
  transition: color 0.2s;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.navLink:hover {
  color: #292827;
}

/* buttons */
.buttonGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loginButton {
  color:white;
  background: transparent;
  border: none;
  padding: 0.5rem 1.5rem;
  min-height: 44px;
  cursor: pointer;
  transition: color 0.2s;
  font-size: 1rem;
  font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.loginButton:hover {
  color: #000000;
  opacity: 1rem;
   background: #fff;
  color: #000000;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 44px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.signupButton {
  background: #fff;
  color: #000000;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 44px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.signupButton:hover {
  background: #979090;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 44px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;

}
